@import "main.css";

div.login-box {
  position: relative;
  margin: auto;
  width: 355px;
  height: 455px;
  background:  rgba(0, 0, 0, 0.6);  /* #FFF; */
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

div.login-fields{
  padding: 25px 1px 0 55px;
}

div.login-box h1 {
  padding: 5px 0 0 0;
  margin: 50% 0 20px 0;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  color: #FFF;
}


input[type="text"]{
  width: 245px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 245px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  content: "\2709";
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  
  padding: 5%;
  margin-top: 5px;
  margin-left: 18px;
  width: auto;
  height: auto;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}


input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

form {
     display: inline; 
     padding: -25px 0 0 35px;
}
